/* globle */
h1,
body {
  margin: 0;
}

body {
  max-width: 1200px;
  background-color: lightblue;
  margin: auto;
}
html {
  background: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.current {
  color: deeppink;
  font-weight: bold;
}

/* header style */

header {
  background: skyblue;
  color: whitesmoke;
  min-height: 70px;
  padding-top: 30px;
  border-bottom: 3px solid salmon;
}

.logo {
  float: left;
}

.logo span {
  color: deeppink;
}

header nav {
  float: right;
  margin-top: 15px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  padding: 0 10px;
}

header a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
}

header a:hover {
  color: pink;
}

/* style showcase */

.showcase {
  min-height: 400px;
  background: url("https://picsum.photos/id/2/1500/500/?blur=4") no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.showcase h1 {
  margin-top: 120px;
  font-size: 55px;
}

.showcase p {
  font-size: 20px;
  color: deeppink;
  width: 80%;
  margin: auto;
}

/* newsletter */

.newsletter {
  padding: 15px;
  background: lightskyblue;
  color: coral;
}

.newsletter h1 {
  float: left;
}

.newsletter form {
  float: right;
}

.newsletter input[type="email"] {
  width: 250px;
  height: 25px;
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.newsletter button {
  height: 35px;
  background-color: coral;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 20px;
}

/* box */

.box {
  margin-top: 20px;
  float: left;
  width: 30%;
  padding: 12px;
  text-align: center;
}
.box img {
  height: 100px;
}

/* footer */

footer {
  padding: 20px;
  /* margin-top: 20px; */
  color: whitesmoke;
  background-color: skyblue;
  text-align: center;
}

.plate {
  background-color: grey;
}

.aboutus {
  width: 60%;
  float: left;
  padding: 20px;
}

.what {
  width: 30%;
  float: left;
  padding: 20px;
  color: white;
  background-color: deeppink;
  margin-top: 57px;
  border-radius: 20px;
}

.yellocontent {
  background-color: yellow;
  color: rgb(168, 0, 90);
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
}
